:root {
	--black: #212121;
	--white: #ffffff;
	--gray: #3b3b3b;
	--orange: #ffab7c;
	--dark-orange: #ff8a4c;
	--brown: #5c504c;
}

/* RESETS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	max-width: 100%;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

body {
	background-color: var(--black);
	color: var(--white);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

p {
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

/* LAYOUT */

.site-section {
	max-width: 95%;
	margin: 0 auto;
	padding: 1em;
}

.color-red {
	color: red !important;
}
