.container {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.img_col {
	position: relative;
}

.img_col,
.fig {
	width: 100%;
}

.date {
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: var(--white);
	color: var(--black);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.8rem;
}

.content {
	flex-basis: 100%;
}

.title {
	margin-bottom: 15px;

	&:hover {
		a {
			color: var(--dark-orange);
		}
	}
}

.snippet {
	margin-bottom: 25px;
}

@media (min-width: 768px) {
	.blog_item {
		flex-basis: calc(50% - 15px);
	}

	.container {
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 60px;
	}

	.img_col {
		flex-basis: calc(45% - 15px);
	}

	.content {
		flex-basis: calc(55% - 15px);
	}
}
