.box {
	border-radius: 15px;
	padding: 45px 15px;

	&.light_box {
		background-color: var(--white);
		color: var(--black);
	}

	&.dark_box {
		background-color: var(--gray);
	}

	&.has_bg_image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
